/* Estilos del main */
main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
        ". bloque-1 bloque-1 ."
        ". bloque-2 bloque-2 .";
    grid-gap: 10px;
    padding: 10px;
}

.aside {
    grid-area: aside;
    background-color: rgba(93, 169, 182, 0.5);
    padding: 10px;
}

.bloque-1 {
    grid-area: bloque-1;
    display: flex;
    flex-direction: column;
}

.bloque-2 {
    grid-area: bloque-2;
}

.bloque-3 {
    grid-area: bloque-3;
}

.bloque-4 {
    grid-area: bloque-4;
}

.bloque-5 {
    grid-area: bloque-5;
}

.bloque-6 {
    grid-area: bloque-6;
}

.bloque-7 {
    grid-area: bloque-7;
}

.bloque-8 {
    grid-area: bloque-8;
}

div[class^="bloque-"] {
    display: flex;
    align-items: center;
    justify-content: center;
/*     background-color: rgba(116, 116, 116, 0.5);
 */    color: #1a1a1a;
    animation: fade-in 1s ease-in-out;
    min-height: 150px;
    flex-direction: column;
    
}

main img {
    width: 100%;
    margin-bottom: 0.5rem;
    border-radius: 8px;
}